<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= project.name %></h1>
  <h2><%= project.status %></h2>
  <br>

  <% if(project.status!='completed'){ %>
    <form action="/<%= project.status %>Projects/important/<%= project._id %>?_method=PUT" method="POST">
      <button type="submit">
        <% if(project.important){ %>
          mark not important
        <% }else{ %>
          mark important
        <% } %>
      </button>
    </form>
  <% } %>

  <div id="waiting">
    <% if(project.status==="waiting") { %>
      <a href="/waitingProjects/edit/<%= folder %>/project/<%= project._id %>">Edit this project</a>

      <br>
      <br>

      <form action="/waitingProjects/completed/<%= project._id %>?_method=PUT" method="POST">
        <button type="submit">complete</button>
      </form>
    
      <form action="/waitingProjects/ongoing/<%= folder %>/project/<%= project._id %>?_method=PUT" method="POST">
        <button type="submit">start working on this project</button>
      </form>
    
      <form action="/waitingProjects/delete/<%= folder %>/project/<%= project._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this project</button>
      </form>
      <% } %>
  </div>

  <div id="ongoing">
    <% if(project.status==="ongoing") { %>
      <a href="/ongoingProjects/edit/<%= project._id %>">Edit this project</a>
  
      <br>
      <br>

      <form action="/ongoingProjects/waiting/<%= project._id %>?_method=PUT" method="POST">
        <button type="submit">waiting</button>
      </form>
  
      <form action="/ongoingProjects/completed/<%= project._id %>?_method=PUT" method="POST">
        <button type="submit">complete</button>
      </form>

      <form action="/ongoingProjects/delete/<%= project._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this project</button>
      </form>
      <% } %>
  </div>

  <div id="completed">
    <% if(project.status==="completed") { %>
      <a href="/completedProjects/edit/<%= project._id %>">Edit this project</a>
  
      <br>
      <br>
  
      <form action="/completedProjects/ongoing/<%= project._id %>?_method=PUT" method="POST">
        <button type="submit">ongoing</button>
      </form>

      <form action="/completedProjects/waiting/<%= project._id %>?_method=PUT" method="POST">
        <button type="submit">waiting</button>
      </form>

      <form action="/completedProjects/delete/<%= project._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this project</button>
      </form>
      <% } %>
  </div>

</body>
</html>