<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= project.name %></h1>
  <h2><%= project.status %></h2>
  <br>

  <% if(project.status==="waiting") { %>
  <a href="/waitingProjects/edit/<%= folder %>/project/<%= project._id %>">Edit this project</a>

  <br>
  <br>

  <form action="/waitingProjects/ongoing/<%= folder %>/project/<%= project._id %>?_method=PUT" method="POST">
    <button type="submit">start working on this project</button>
  </form>

  <form action="/waitingProjects/delete/<%= folder %>/project/<%= project._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete this project</button>
  </form>
  <% } %>

  <% if(project.status==="ongoing") { %>
    <a href="/ongoingProjects/edit/<%= project._id %>">Edit this project</a>

    <br>
    <br>

    <form action="/ongoingProjects/delete/<%= project._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this project</button>
    </form>
    <% } %>
</body>
</html>