<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= folder.folderName %></h1>

  <% projects.forEach((project)=>{ %>
    <% if(project.status==="waiting") {%>
      <div class="flex">
        <div class="card flex">
          <a href="/waitingProjects/show/<%= folder._id %>/project/<%= project._id %>"><%= project.name %></a>
        </div>
      </div>

    <br>
  <% }}) %>

  <div class="flexSpaceBetween">
    <a class="submit" href="/waitingProjects/<%= folder._id %>/projects/new">+</a>

    <div class="flex">
      <a class="submit marginRight" href="/waitingProjects/<%= folder._id %>/edit">edit</a>
  
      <form action="/waitingProjects/<%= folder._id %>?_method=DELETE" method="POST">
        <button class="text btn submit" type="submit">Delete</button>
      </form>
    </div>
  </div>


</body>
</html>