<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= folder.folderName %></h1>

  <% projects.forEach((project)=>{ %>
    <% if(project.status==="waiting") {%>
    <a href="/waitingProjects/show/<%= folder._id %>/project/<%= project._id %>"><%= project.name %></a>
    <br>
    <br>
  <% }}) %>

  <br>
  <br>

  <a href="/waitingProjects/<%= folder._id %>/edit">edit this folder</a>

  <br>
  <br>

  <a href="/waitingProjects/<%= folder._id %>/projects/new">add a project</a>

  <br>
  <br>

  <form action="/waitingProjects/<%= folder._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete this folder</button>
  </form>
</body>
</html>